<!DOCTYPE HTML>
<html lang="en">
<!-- START HTML -->
<!-- HEAD -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset="UTF-8" />
<meta name="author" content="Fabio Scaccabarozzi" />
<meta name="description" content="Linux projects for power users: reiser4+truecrypt enabled liveCDs, custom Gentoo overlays, linux guides and scripts." />
<meta name="generator" content="nanoc" />
<meta name="keywords" content="reiser4, livecd, live-cd, live, cd, linux, truecrypt" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<a id="gplusauthorattribution"  href="https://plus.google.com/+FabioScaccabarozzi88?rel=author">Google Plus profile</a>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" defer></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" defer></script>
<script src="/assets/js/activeswitcher.js" defer></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/assets/css/faskatech.css" rel="stylesheet" type="text/css">
<title>Faskatech | Linux projects for power users</title>
</head> <!-- END HEAD  -->


<!-- BODY -->
<body>

<!-- Google Analytics with in-link tracking -->
<script type="text/javascript">
var _gaq = _gaq || [];
var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
_gaq.push(['_setAccount', 'UA-7986002-2']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- END Google Analytics script -->

<!-- WRAPPER to help with footer vertical alignment -->
<div id="wrapper">

<!-- NAVBAR --> <%= render 'navbar' %> <!-- END NAVBAR -->

<!-- MAIN -->
<div id="main">

<!-- CONTAINER -->
<div class="container">

<!-- ROW -->
<div class="row-fluid">

<!-- CONTENT DIV -->
<div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
<!-- CONTAINER -->
<div class="container-fluid">

<!-- DIV TO WRAP THE CONTENT -->
<div class="content">

<!-- TITLE --> <h4 class="post_title"><%= item[:title] %></h4> <!-- END TITLE -->

<!-- Everything has a title, but not everything has metadata -->
<% if item[:kind] == "article" %>
<!-- POST META --> <aside class="post_aside">By Fabio Scaccabarozzi, <%= get_pretty_date(item) %></aside> <!-- END POST META -->
<!-- TAGS --> <p class="post_tags">Tags: <%= tags_for(item, { :base_url => @site.config[:base_url] + '/tag/' } ) %></p> <!-- END TAGS -->
<% end %>
<p/> <!-- EMPTY SPACER -->

<!-- ARTICLE CONTENT -->
<article class="post_content">
<%= yield %>
</article> <!-- END ARTICLE CONTENT -->
</div> <!-- END CONTENT WRAPPER -->


</div> <!-- CONTAINER -->
</div> <!-- CONTENT DIV -->


<!-- RIGHT SKYSCRAPER --> <%= render 'google_ads' %> <!-- END RIGHT SKYSCRAPER -->

</div> <!-- END ROW -->

</div> <!-- END CONTAINER -->

</div> <!-- END MAIN -->

</div> <!-- END WRAPPER -->

<!-- FOOTER --> <%= render 'footer' %> <!-- END FOOTER -->

</body> <!-- END BODY -->
<!-- END HTML -->
</html>
