<% pages = sort_articles_for_tagger(items_with_tag(@item[:tag])) %>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3>Posts tagged with: <%= @item[:tag] %></h3>
		</div>
	</div>
</div>
<% pages.each do |post| %>
	<div class='post'>
		<h3><%= link_to post[:title], post.path %></h3>
		<aside>Posted at: <%= post[:created_at] %></aside>
		<p>Tags: <%= tags_for(post, { :base_url => 'http://www.faskatech.net/tag/' } ) %></p>
		<p></p>
		<article>
			<%= post.compiled_content %>
		</article>
	</div>
<% end %>
